<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Result details</title>
</head>
<body>
<h1>Upload details</h1>
<table border="1" style="float: left">
    <th:block>
        <tr>
            <td>
                <bold>Upload Id</bold>
            </td>
            <td>
                <bold>SUCCESS TRUE/FALSE</bold>
            </td>
            <td>
                <bold>Upload Date</bold>
            </td>
        </tr>
        <tr>
            <td th:text="${id}">...</td>
            <td th:text="${success}">...</td>
            <td th:text="${dateUpload}">...</td>
        </tr>
    </th:block>
</table>
<br>
<br>
<h1>DATA</h1>
<table border="1" style="float: left">
    <th:block th:each="data : ${dataList}">
        <tr>
            <td>
                <bold>Параметр</bold>
            </td>
            <td>
                <bold>Значение</bold>
            </td>
        </tr>
        <tr>
            <td>Data ID</td>
            <td th:text="${data.getId()}">...</td>
        </tr>
        <tr>
            <td>User ID</td>
            <td th:text="${data.getUser().getId()}">...</td>
        </tr>
        <tr>
            <td>User name</td>
            <td th:text="${data.getUser().getUser()}">...</td>
        </tr>
        <tr>
            <td>Service ID</td>
            <td th:text="${data.getService().getId()}">...</td>
        </tr>
        <tr>
            <td>Service name</td>
            <td th:text="${data.getService().getService()}">...</td>
        </tr>
        <tr>
            <td>Procedure</td>
            <td th:text="${data.getProcedure()}">...</td>
        </tr>
        <tr>
            <td>Authority ID</td>
            <td th:text="${data.getAuthority().getId()}">...</td>
        </tr>
        <tr>
            <td>Authority name</td>
            <td th:text="${data.getAuthority().getAuthority()}">...</td>
        </tr>
        <tr>
            <td>Date</td>
            <td th:text="${data.getDate()}">...</td>
        </tr>
        <tr>
            <td>Received date</td>
            <td th:text="${data.getReceivedDate()}">...</td>
        </tr>
        <tr>
            <td>OKATO</td>
            <td th:text="${data.getOkato()}">...</td>
        </tr>
    </th:block>
</table>
<h1>RATES</h1>
<table border="1" style="float: left">
    <th:block th:each="rate, iter : ${rateList}">
        <tr>
            <td>Rates ID</td>
            <td>indicator-id</td>
            <td>value-id</td>
            <td>value</td>
        </tr>
        <tr>
            <td th:text="${rate.getRates().get(0).getId()}">...</td>
            <td th:text="${rate.getIndicatorId()}">...</td>
            <td th:text="${rate.getRate()}">...</td>
            <td th:text="${rate.getValue()}">...</td>
        </tr>
    </th:block>
</table>
</body>
</html>